body {
    margin: 0;
    background: #111;
    color: #fff;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #222;
}

h2, h3 {
    margin: 0;
}

h3 {
    font-size: 24px;
}

.btn {
    padding: 8px 16px;
    background: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.bin-item {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #222;
    cursor: pointer;
    border-radius: 4px;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal.active {
    visibility: visible;
}

.modal-content {
    background: #111;
    padding: 20px;
    width: 400px;
    border-radius: 6px;
    border: 1px solid #222;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: #000;
    color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
}
